*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #f6f6f6;

}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.btn{
    padding: 1rem;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: lightblue;
    }
}
