.u-center-text {
    text-align: center;
}

.u-mb-sm {
    margin-bottom: 1.5rem;
}

.u-mb-md {
    margin-bottom: 4rem;
}

.u-mb-lg {
    margin-bottom: 8rem;
}

.u-tp-sm {
    margin-top: 1.5rem;
}

.u-tp-md {
    margin-top: 4rem;
}

.u-tp-lg {
    margin-top: 8rem;
}
