// grid
$default-font-size: 1.6rem;

// font-family
$default-font-family: 'Lato',sans-serif;
$primary-font-family: 'Lato';


// distance
$grid-width: 100rem;

$gutter-vertival: 5rem;
$gutter-horizontal: 1rem;

