* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
    width:100%;
    background-image: url(https://images.unsplash.com/photo-1517837016564-bfc3ffd67455?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9536c0119eefe3a55b2690fd4bac6ae3&auto=format&fit=crop&w=1900&q=80);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* basic */


input:focus {
    outline: 0;
    border: 1px solid #666;

}

input {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid #f2f2f2;
    font-size: 1.7rem;
    margin-left: 0.8rem;
}

input::-webkit-input-placeholder {
    color: #ddd;
}

input:focus:valid {
    border-bottom: 1px solid green;
}

input:focus:invalid {
    border-bottom: 1px solid red;
}


.btn {
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: lightcoral;
    border-radius: 3px;
    margin-top: 2rem;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.2s;
}

.btn__switch {
    background-color: transparent;
    border: 1px solid #ddd;
    color: #ddd;
}

.btn:hover {
    outline: 0;
    transform: translateY(-2px);

}

.btn:focus {
    outline: 0;
    background-color: darkseagreen;
    /* border: 1px solid lightcoral; */
}



/* typographic */

h2 {
    font-size: 2.2rem;
    font-weight: 300;
}

#app {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    margin: 0 auto;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 5px;
    color: #fff;
    display: flex;
}

.box__text{
    display: flex;
    min-height: 50vh;
    width: 60rem;
}


.box__login, .box__signup {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.login__form, .signup__form {
    position: absolute;
    height: 100%;
    width: 50%;
    /* flex: 0 0 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transform: scaleY(1.1);
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.3);
    border-radius: 3px;
    color: #555;
}

.login__form {
    right: 2%;
}

.signup__form {
    left: 2%;
}


/* form */

.form__box {
    display: flex;
    align-items: center;

}
.form__box:not(:last-child) {
    margin-bottom: 1rem;
}

.form__box label  {
    flex: 0 0 20%;
    text-transform: capitalize;
}

.form__box input {
    flex: 1
}
