*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.6%;
}

body {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
    color: #e5e5e5;
}

img {
    height: 100%;
    width: 100%;
    display: block;
}


audio {
    display: none;
}
.mt--md {
    margin-top: 2rem
}

.mt--lg {
    margin-top: 3rem
}

.icon {
    width: 3rem;
    height: 3rem;
    display: block;
    fill: currentColor;
}

.mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(80%) blur(60px);
    z-index: -1;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: #000;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.music__img {
    width: 100%;
    overflow: hidden;
}

.music__info {
    text-align: center;
}
.music__info .info__song {
    font-size: 2.2rem;
    overflow: hidden;
}

.process__box {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.process__bar {
    flex: 1;
    margin: 1rem 2rem;
    height: 5px;
    border-radius: 5px;
    background-color: #ccc;
    position: relative;
}

.process__done {
    width: 0%;
    height: 5px;
    border-radius: 5px;
    background-color: lightcoral;
}

.process__dot {
    position: absolute;
    margin-left: -10px;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #ccc;
}

.music__controller {
    padding: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controller__main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controller__main svg {
    margin: 0 2rem;
}

.controller__menu {

}


@keyframes rotate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.3) rotate(180deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}



@keyframes move {
    0% {
        transform: translateX(-100%);;
    }
    100% {
        transform: translateX(100%);;
    }
}
