* {
    border: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.6%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #f6f6f6;
    margin-top: 5rem;
    min-height: 50vh;
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}



.item {
    width: calc(100% / 7);
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    cursor: pointer;
}

.title {
    background-color: #ddd;
}

.current {
    background-color: darkseagreen;
}

.now {
    color: #fff;
}

.last, .next {
    color: #ddd;
}
